* #header{
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.h1{
    padding: 60px;
    text-align: left;
    background-color:black;
    font-size: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
}

nav{

    display: flex;
    justify-content: flex-end;
    background-color: cadetblue;
}

ul{
    
    margin-left: auto;
    display: flex;
    padding: 20px;
    
}

.bgimg{
        background-image: url(./assets/imgs/headerimg1.jpg)
            width: 100%;
            margin-bottom: 25px;
            object-fit: cover;
            background-size: cover;
            background-position: center;
        }



