* #header{
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.h1{
    padding: 60px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{

    display: flex;
    margin: 0;
    padding: 2px;
   background-color: cadetblue;

}

ul{
    list-style-type: none;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 20px;
    
    
    
}

.bgimg{
        background-image: url(./assets/imgs/headerimgresized.jpg);
        display:flex;
        }
        

.row{
    display: flex;
}

.heading{
    flex: 0 0 200px;
}
/* Tablets -  */
@media screen and (max-width: 992px) {
}
/* Large smartphones  */
@media screen and (max-width: 768px) {
    .heading {
        flex: 1;
        
   
}
    

/* Small smartphones -  */
@media screen and (max-width: 576px) {
}

}